
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div> 
        <div> The Fibonacci series is</div>
        <br/>
        <br/>

    </div>
</body>
</html>
